{% extends "base.html" %}
{%block title%} {{post.title }} {%endblock%}
{% block content %}
    <h1>{{	post.title	}}</h1>
    <p	class="date">
        Published {{ post.publish }} by	{{ post.author }}
    </p>
    {{ post.body|linebreaks }}

    <hr>
    {% with comments.count as  total_comment%}
        <h4>{{total_comment}} Comment{{total_comment|pluralize}}:</h4>      
    {% endwith %}
    {% for comment in comments %}
        <div>
            <strong>{{comment.name}}</strong> 
            <p>{{comment.body}}</p>
            <small>{{comment.updated}}</small>
            <hr>
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    
    {% if new_comment %}
        <p>Your comment has been added.</p>
    {% else %}
    <form action="" method="POST" class="mb-3">
        {% csrf_token %}
        {% for field in form %}
            {{field.errors}} <br>
            {{field.label_tag}} <br>
            {{field}} 
        {% endfor %}
        <br>
        <input type="submit" value="ADD COMMENT">
    </form>
    {% endif %}
{% endblock content %}