{% extends "base.html" %}
{%block title%}BlogPost{%endblock%}
{% block content %}
    {% if posts %}
    {% for post in posts %}
    <div class="mb-4">
        <p class="h4 ">
            <a class="text-decoration-none" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>        
        <p class="mb-0">{{ post.body|truncatewords:35|linebreaks }}</p>
    </div>
    {%	endfor	%}

    {% include "pagination.html" with page=posts %}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
{% endblock content %}