<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand ps-4" href="{% url 'blog:blog_list' %}">BlogPost</a>
        <div class="d-flex">
        <form class="d-flex" role="search" action="{% url 'blog:search_content' %}">
          <input class="form-control me-2" name='searchdata' type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary btn-sm" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
          <form action="{% url 'account:logout' %}">
            <button class="btn btn-secondary ms-2">Sign Out</button>
          </form>
        {% else %}
          <form action="{% url 'account:login' %}">
            <button class="btn btn-secondary ms-2">Sign In</button>
          </form>
        {% endif %}
      </div>
      </div>
    </nav>

    <div class="container mt-4 px-5">
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>